---
import { log } from '~/utils/log'
if (Astro.locals.user) {
	return Astro.redirect('/')
}

log.info('Login page - user: ', Astro.locals.user ? Astro.locals.user : 'null')
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Lucia example</title>
	</head>
	<body>
		<h1>Sign in</h1>
		<form
			method='post'
			action='/api/login'>
			<label for='email'>Email</label>
			<input
				name='email'
				id='email'
			/><br />
			<label for='password'>Password</label>
			<input
				type='password'
				name='password'
				id='password'
			/><br />
			<button>Continue</button>
			<p id='form-error'></p>
		</form>
		<a href='/auth/signup'>Create an account</a>
	</body>
</html>

<script>
	const errorMessageElement = document.getElementById('form-error')!

	document.forms[0].addEventListener('submit', async e => {
    console.log("form submission, login")
		e.preventDefault()
		errorMessageElement.innerText = ''
		const formElement = e.target as HTMLFormElement
    console.log("Submitted: ", formElement.action)
		const response = await fetch(formElement.action, {
			method: formElement.method,
			body: new FormData(formElement),
		})
		if (response.ok) {
			window.location.href = '/'
		} else {
			errorMessageElement.innerText = (await response.json()).error
		}
	})
</script>
