---
import { log } from '~/utils/log';
if (Astro.locals.user) {
  return Astro.redirect('/');
}

export const partial = true;

log.info('Sign in page - user: ', Astro.locals.user ? Astro.locals.user : 'null');
---

<div>
  <h1>Sign in</h1>
  <form
    id="sign-in-form"
    method='post'
    action='/api/sigin'>
    <label for='email'>Email</label>
    <input
      name='email'
      id='email'
    /><br />
    <label for='password'>Password</label>
    <input
      type='password'
      name='password'
      id='password'
    /><br />
    <button>Continue</button>
    <p id='form-error'></p>
  </form>
  <button
    hx-trigger='click'
    hx-get='/auth/signup'
    hx-target='#auth-container'
    >Signup</button
  >
</div>
<script>
  const errorMessageElement = document.getElementById('form-error')!;

  document.forms[0].addEventListener('submit', async e => {
    console.log('form submission, signin');
    e.preventDefault();
    errorMessageElement.innerText = '';
    const formElement = e.target as HTMLFormElement;
    console.log('Submitted: ', formElement.action);
    const response = await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    });
    if (response.ok) {
      window.location.href = '/';
    } else {
      errorMessageElement.innerText = (await response.json()).error;
    }
  });
</script>
